body {
    background: #2c3e50;
    color: white;
    font-family: monospace;
}
th, td {
    border-top: none !important;
}

h3 {
    background-color: #333;
    padding: 12px;
    font-weight: bolder;
    letter-spacing: .1em;
}

h2 {
    background-color: gray;
    padding: 12px;
    font-weight: bolder;
    letter-spacing: .1em;
}

.btn {
    font-weight: bolder;
    letter-spacing: .2em;
}

.btn-update {
    color: white;
    background-color: orange;
}

.btn-delete {
    color: white;
    background-color: red;
}

.btn-primary {
    color: #fff;
    background-color: green;
}

.addSongSection{
    padding-top: 40px;
}
