<html>
<body>
<div class="container">
    <div>
        <a type="button" id="homeButton" href="../main/main.html">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
          </svg>
        </a>
      </div>
    <div>
        <h3>Users</h3>
        <table id="usersTable">
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Password</th>
                <th>Is Admin</th>
            </tr>
        </table>

        <div id="addSong" class="addSongSection">
            <h2>Add new user</h2>
            <div>
                <label for="username">UserName</label>
                <input type="text" id="username" class="form-control"/>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control"/>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="number" id="password" class="form-control">
            </div>
            <div>
                <label for="isAdmin">Is Admin</label>
                <input type="checkbox" id="isAdmin" class="form-control"/>
            </div>
        </div>
        <div>
            <button type="button"
                    id="addButton"
                    class="btn btn-primary"
            >
                ADD
            </button>
            <button type="button" id="findButton" class="btn btn-primary">Search Users</button>
            <button type="button" id="clearButton" class="btn btn-primary">Clear Users</button>
            <button type="button" id="showButton" class="btn btn-primary">Show All Users</button>


        </div>
        <div class="row">
            <div class="col-md-8">
              <h3>Check The Parameters For The Search</h3>
              <form>
                <div class="form-group form-check">
                  <input type="checkbox" id="usernameCB" class="form-check-input"/>
                  <label class="form-check-label" for="usernameCB">UserName</label>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" id="emailCB" class="form-check-input"/>
                  <label class="form-check-label" for="emailCB">Email</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" id="isAdminCB" class="form-check-input"/>
                    <label class="form-check-label" for="isAdminCB">Is Admin</label>
                </div>
              </form>
          </div>
        </div>
    </div>        
</div>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="UserManegement.js"></script>
<link rel="stylesheet" href="UserManagement.css"/>
</body>
</html>
